<div class=" _hero pt-32 pb-32 bg-white-100 text-center" style="padding-bottom: 1vh !important;">
  <div class="container" style="background-color:#4a7e4a !important;padding-top: 2vh;">
    <h3 style="color:white">About Us</h3>
    <nav class="breadcrumb flex justify-center items-center">
      <a class="px-1 mr-3 text-white-500 hover:text-white" style="color:white" [routerLink]="'/'">Home</a>
      <a class="px-1" href="javascript:void(0)" class="text-accent">About</a>
    </nav>
    <ng-particles style="max-height: 20vh;" [id]="'product_hero'" class="_hero__particles hidden md:block" [options]="particlesOptions"></ng-particles>
  </div>
</div>
<!-- About  -->
<div class="pt-5 pb-24">
  <div class="container">
    <h1 >A customer friendly organization which provides great respect to our farmers and value to their efforts and products to make their life enrich!
    </h1>
    <div class="flex flex-wrap mt-5 xl:mt-8">
      <div class="lg:w-1/2 lg:order-last">
        <a href="javascript:void(0)" class="about__img relative block">
          <img src="assets/images/farm.jpg" alt="About" />
          <mat-icon class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">play_circle_filled</mat-icon>
        </a>
      </div>
      <div class="lg:w-1/2 lg:pr-10 mt-8 lg:mt-0 about__text">
        <p class="mb-3">
          Tadoba is taken from the name of the god "Tadoba" or "Taru", worshipped by the trible people who live in the dense forest of the Tadoba situated in eastern Maharashtra state, central India. Legend hold that Taru (Tadoba) was a village chief who was killed in a mythological encounter with a tiger in the same forest.
        </p>
        <p class="mb-3">
          There area of the Reserve is 625.40 sq. km. This includes Tadoba National Park, created in 1955 The Reserve is constituted with 577.96 sq. km. Reserve Forest, 32.51 sq.km. Protected Forest and 14.93 sq.km. other areas. Tadoba reserve is a predominantly southern tropical dry deciduous forest with dense woodlands        </p>
        <div class="experience grid grid-cols-3 gap-4 mt-6 xl:mt-16">
          <div class="experience__item">
            <h2>367+</h2>
            <h6 class="font-semibold">SUCCEEDED Delivery</h6>
          </div>
          <div class="experience__item">
            <h2>500+</h2>
            <h6 class="font-semibold">HAPPY CLIENT</h6>
          </div>
          <div class="experience__item">
            <h2>2+</h2>
            <h6 class="font-semibold">YEARS OF EXPERIENCE</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
