<div>
  <div class="container">
    <div class="ll-section-head text-center mb-5">
      <h3 class="ll-section-head__heaidng">Our range:</h3>
      <h4 class="ll-section-head__subheading">Direct purchase our product from Website and stores.</h4>
    </div>
    <div class="grid grid-cols-12 gap-6 xxl:gap-8">
      <div *ngFor="let product of products" class="col-span-12 md:col-span-6 xl:col-span-4">
        <mat-card class="ll-product">
          <img mat-card-image [src]="product?.images" alt="{{ product.name }}" style="width: 100%;height: 25vh; margin: 0 0 20px" />
          <mat-card-content class="flex">
            <div class="flex-grow pl-3">
              <h2 class="ll-product__name">
                <a [routerLink]="['/products', product.id]">{{ product.name }}</a>
              </h2>
              <h6>
                {{ product.description }}
              </h6>
              <div class="flex justify-between mt-5">
                <div class="ll-product__price-label">Prices:</div>
                <div class="ll-product__price font-bold" style="color:#4a7e4a !important">&#8377;{{ product.price }}</div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="ll-product__action flex justify-between">
            <div class="flex-1 text-center flex items-center justify-center">
              <mat-icon color="warn">star</mat-icon> {{ product.rating }}/5
            </div>
            <div class="flex-1 text-center">
              <a [routerLink]="['/products', product.id]" mat-raised-button color="warn" class="px-4">Read More</a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
