<div class="ll-hero">
  <ng-particles [id]="'home_hero__particles'" class="ll-hero__particles" [options]="particlesOptions"></ng-particles>
  <div class="container">
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
        <h1 class="lg:mt-12 text-white font-bold">
          A customer friendly organization which provides great respect to our farmers and value to their efforts and products to make their life enrich!
        </h1>
        <div class="flex flex-wrap items-center mt-4">
          <!-- <div class="inline-block mr-5">Offer:</div>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Digitalization</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Marketing</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40">Staff</a> -->
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
        <img class="ml-auto" src="assets/images/OrganicFarmQuete.jpg" alt="Hero" />
      </div>
    </div>
  </div>
</div>

<ll-home-products></ll-home-products>

